@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
